.split-image {
  display: grid;
  grid-template-columns: repeat(2, lfr);
  gap: 10px;

  .drawing {
    grid-column: 1 / 2;
  }
  .reference {
    grid-column: 2 / 2;
  }

  .img {
    grid-row: 1;
  }

  .text {
    grid-row: 2;
    text-align: center;
    font-style: italic;
  }
}
